#container {
    margin: 50px auto;
    max-width: 780px;
    width: 100%;
    font-family: Tahoma, sans-serif;
}

.clearme:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.sidecontainer {
    background-image: url('./images/Highlight.png');
    background-repeat: no-repeat;
    min-height: 80px;
    overflow: auto;
    padding: 15px 50px 10px 10px;
}

#logo {
    float: left;
}

#aboutme div, #wiwo div {
    max-height: 150px;
    max-width: 458px; 
    overflow: auto;
}

#user-img {
    float: right;
    width: 56px;
    height: 56px;
    border: 2px solid grey;
}

#username {
    padding-bottom: 9px;
    font-size: 14px;
}

#stats ul {
    padding: 0;
    margin: 6px;
}

p {margin:0}

li {
    display: block;
img {
    vertical-align: middle;
}
}

#searchbar {
    width: 322px;
    height: 35px;
    background-image: url('./images/searchbar.png') !important;
    background-size: cover;
    border: none;
}

#userside {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 230px;
}

#userinfo {
    display: table-row;
}

input {
    padding-left: 16px;
    
}

input:focus {
    outline: none;
    background-color: white;
}

.search-container {
    display: block;
    float: right;
}

#search-field {
    display: flex;
img {
    height: 35px;
    display: block;
}
}

.project {
    font-size: 11px;
    width: 85px;
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

pre {
    font-size: 12px; 
    font-family: Tahoma; 
    margin: 0; 
    white-space: pre-wrap;
}